/*초기화(default) 작업*/
html,body{
	margin:0;
	padding:0;
}

body{
	overflow-x:hidden;
}

ol,ul{
	list-style: none;
}

a{
	text-decoration: none;
}

button{
	border:none;
	background-color:transparent;
}

h1, h2, h3, h4, h5, h6{
	margin:0;
	padding:0;
}

.clearfix{
	clear:both;
}

/*초기화(default) 작업 끝*/


/*header*/

#intro{
	width:100%;
	height:1600px;
	background-image: url(../img/intro/intro_bg.png);
}

#intro .introWrap{
	position: relative;
	width:760px;
	height:516px;
	/*background-color:yellow;*/
	left:50%;
	margin-left:-380px;
	top:50px;
}

#intro .introWrap .logo{
	position:absolute;
	width:760px;
	height:516px;
	background-image: url(../img/intro/logo.png);
	z-index: 100;
}

#intro .introWrap .lion{
	position:absolute;
	width:161px;
	height:161px;
	background-image: url(../img/intro/lion.png);
	margin:80px 0 0 30px;
}

#intro .introWrap .rabbit{
	position:absolute;
	width:105px;
	height:129px;
	background-image: url(../img/intro/rabbit.png);
	margin:90px 0 0 580px;
}

#intro .introWrap .bear{
	position:absolute;
	width:112px;
	height:105px;
	background-image: url(../img/intro/bear.png);
	margin:310px 0 0 560px;
	z-index: 200;
}

#intro .introWrap .monkey{
	position:absolute;
	width:85px;
	height:93px;
	background-image: url(../img/intro/monkey.png);
	margin:310px 0 0 50px;
	z-index: 200;
}

#intro .cloudWrap{
	width:100%;
	height:1050px;
	position: relative;
}

#intro .cloudWrap .leftCloud{
	width:934px;
	height:816px;
	background-image: url(../img/intro/cloud1.png);
	z-index: 100;
	position: absolute;
	left:0;
}

#intro .cloudWrap .rightCloud{
	width:843px;
	height:858px;
	background-image: url(../img/intro/cloud2.png);
	right:0;
	position: absolute;
}

#intro .cloudWrap .dragonfly{
	position: absolute;
	width:366px;
	height:228px;
	background-image: url(../img/intro/dragonfly.png);
	top:800px;
}

#farm1{
	position: relative;
	width:100%;
	height:800px;
	background-image: url(../img/farm/farm1/farm1_bg.png);
}

#farm1 .leftRice1{
	width:390px;
	height:670px;
	background-image: url(../img/farm/farm1/leftrice.png);
	position: absolute;
	left:0;
}

#farm1 .rightRice1{
	width:335px;
	height:570px;
	background-image: url(../img/farm/farm1/rightrice.png);
	position:absolute;
	right:0;
	top:100px;
}

#farm1 .farmer{
	width:747px;
	height:1078px;
	background-image: url(../img/farm/farm1/farmer.png);
	position: absolute;
	left:50%;
	margin-left:-310px;
}

#farm1 .farmSpeechWrap{
	left:165px;
	position: relative;
	top:250px;
}

#farm1 .farmSpeechWrap .farmSpeech {
    color: #895C2F;
    font-size: 18px;
    line-height: 27px;
}

#farm2{
	width:100%;
	height:850px;
	background-image: url(../img/farm/farm2/farm2_bg.png);
	position: relative;
}

#farm2 .leftRice2{
	width:250px;
	height:850px;
	background-image: url(../img/farm/farm2/leftrice2.png);
	position: absolute;
	left:0;
}

#farm2 .rightRice2{
	width:236px;
	height:850px;
	background-image: url(../img/farm/farm2/rightrice2.png);
	position: absolute;
	right:0;
}

#farm2 .scarecrow{
	width:103px;
	height:206px;
	background-image: url(../img/farm/farm2/scarecrow.png);
	position: absolute;
	left:250px;
	top:200px;
}

#farm3{
	width:100%;
	height:850px;
	background-image: url(../img/farm/farm3/farm3_bg.png);
	position: relative;
}

#farm3 .farm3Window{
	width:247px;
	height:169px;
	background-image: url(../img/farm/farm3/window.png);
	position: absolute;
	left:100px;
}

#farm3 .machineWrap{
	width:586px;
	height:455px;
	position: relative;
	top:50px;
	left:50%;
	margin-left:-285px;	
}

#farm3 .machineWrap .machine1{
	width:586px;
	height:455px;
	background-image: url(../img/farm/farm3/machine1.png);
	position: absolute;
	z-index: 100;
}

#farm3 .machineWrap .sawShadow1{
	width:95px;
	height:95px;
	position: absolute;
	background-image: url(../img/farm/farm3/sawshadow.png);
	margin:145px 0 0 145px;
}

#farm3 .machineWrap .saw1{
	width:95px;
	height:95px;
	position: absolute;
	background-image: url(../img/farm/farm3/saw.png);
	margin:140px 0 0 140px;
}

#farm3 .machineWrap .sawShadow2{
	width:95px;
	height:95px;
	position: absolute;
	background-image: url(../img/farm/farm3/sawshadow.png);
	margin:145px 0 0 345px
}

#farm3 .machineWrap .saw2{
	width:95px;
	height:95px;
	position: absolute;
	background-image: url(../img/farm/farm3/saw.png);
	margin:140px 0 0 350px;
}

#farm3 .machineWrap .machineBird{
	width:44px;
	height:49px;
	position: absolute;
	background-image: url(../img/farm/farm3/machinebird.png);
	margin:220px 0 0 20px;
	z-index: 200;
}

#farm3 .machineWrap .timer{
	width:103px;
	height:104px;
	position: absolute;
	background-image: url(../img/farm/farm3/second.png);
	margin:125px 0 0 50px;
	z-index: 100;
}

#farm3 .farm3Bubble{
	position: relative;
	top:-100px;
	width:333px;
	height:201px;
	float:right;
	margin-right:80px;
}

#forest1{
	width:100%;
	height:1050px;
	position: relative;
	background-image: url(../img/forest/forest1/forest1_bg.png);
}

#forest1 .leftTree{
	width:445px;
	height:1200px;
	background-image: url(../img/forest/forest1/lefttree.png);
	position:absolute;
	/*left:0;*/
}

#forest1 .treeWrap{
	width:304px;
	height:572px;
	position: relative;
	top:100px;
	float:right;
}

#forest1 .treeWrap .rabbit1{
	width:82px;
	height:103px;
	position: absolute;
	margin:430px 0 0 107px;
	background-image: url(../img/forest/forest1/rabbit1.png);
}

#forest1 .treeWrap .rabbit2{
	width:56px;
	height:75px;
	position: absolute;
	margin:430px 0 0 200px;
	background-image: url(../img/forest/forest1/rabbit2.png);
}

#forest1 .treeWrap .rightTree{
	width:304px;
	height:572px;
	position: absolute;
	background-image: url(../img/forest/forest1/righttree.png);
}

#forest2{
	width:100%;
	height:750px;
	position: relative;
	background-image: url(../img/forest/forest2/forest2_bg.png);
}

#forest2 .frog{
	width:153px;
	height:257px;
	background-image: url(../img/forest/forest2/frog.png);
	position: absolute;
	margin-left:100px;
}

#forest2 .forest2Tree{
	width:304px;
	height:282px;
	background-image: url(../img/forest/forest2/forest2tree.png);
	position: absolute;
	bottom:80px;
}

#forest2 .machineWrap2{
	width:375px;
	height:162px;
	position: relative;
	top:180px;
	left:50%;
	margin-left:-180px;
}

#forest2 .machineWrap2 .machineBottom{
	width:374px;
	height:162px;
	position:absolute;
	margin-top:220px;
	background-image: url(../img/forest/forest2/machinebottom.png);
}

#forest2 .machineWrap2 .machineLeft{
	width:123px;
	height:228px;
	position:absolute;
	margin-top:30px;
	
	background-image: url(../img/forest/forest2/machineleft.png);
}

#forest2 .machineWrap2 .machineRight{
	width:123px;
	height:248px;
	position:absolute;
	margin: 10px 0 0 260px;
	background-image: url(../img/forest/forest2/machineright.png);
}

#forest2 .forestBubble{
	width:365px;
	height:220px;
	position: relative;
	right:0;
	top:160px;
	margin-right:100px;
	float: right;
}

#forest3{
	width:100%;
	height:600px;
	background-image: url(../img/forest/forest3/forest3_bg.png);
}

#forest3 .forest3Wrap{
	width:354px;
	height:471px;
	position: relative;
	float:right;
	top:100px;
}

#forest3 .forest3Wrap .forest3Tree{
	width:354px;
	height:471px;
	position: absolute;
	background-image: url(../img/forest/forest3/forest3tree.png);	
}

#forest3 .forest3Wrap .smallBird{
	width:40px;
	height:35px;
	position: absolute;
	margin:120px 0 0 125px;
	background-image: url(../img/forest/forest3/bird_sm.png);	
}

#forest3 .forest3Wrap .bigBird{
	width:83px;
	height:80px;
	position: absolute;
	margin:260px 0 0 95px;
	background-image: url(../img/forest/forest3/bird_big.png);	
}

#science{
	width:100%;
	height:800px;
	position: relative;
	background-image: url(../img/science/science_bg.png);
}

#science .scienceWrap{
	width: 1068px;
    height: 655px;
    position: relative;
    left: 50%;
    margin-left: -534px;
}

#science .scienceWrap .scienceLeftWrap{
	width:287px;
	float:left;
}

#science .scienceWrap .scienceLeftWrap .gly{
	width:230px;
	height:192px;
	margin: 0 0 130px 55px;
	background-image: url(../img/science/gly.png);
}

#science .scienceWrap .scienceLeftWrap p{
	font-size:18px;
	color:#666;
	line-height: 26px;
    padding-top: 10px;
}

#science .scienceWrap .scienceCenterWrap{
	width:488px;
	float:left;
}

#science .scienceWrap .scienceCenterWrap .purpleSteam{
	position: relative;
    
    width: 241px;
    height: 216px;
    background-image: url(../img/science/grape.png);
    
    left: 50%;
    margin-left: -120px;
}

#science .scienceWrap .scienceCenterWrap .funnelBack{
	width:488px;
	height:438px;
	background-image: url(../img/science/funnelback.png);
	position: absolute;
}

#science .scienceWrap .scienceCenterWrap .funnelFront{
	width:485px;
	height:390px;
	background-image: url(../img/science/funnelfront.png);
	position: relative;
	margin-top: 48px;
}

#science .scienceWrap .scienceRightWrap{
	float: right;
    width: 292px;
}

#science .scienceWrap .scienceRightWrap .water{
	width:204px;
	height:191px;
	background-image: url(../img/science/water.png);
	margin-bottom: 130px;
}

#science .scienceWrap .scienceRightWrap p{
	font-size:18px;
	color:#666;
	line-height: 26px;
    padding-top: 10px;
}

#night1{
	width:100%;
	height:700px;
	background-image: url(../img/oneday/night1/night1_bg.png);	
}

#night1 .owl{
	width:334px;
	height:571px;
	background-image: url(../img/oneday/night1/owl.png);
	position: absolute;
	margin-top:50px;		
}

#night1 .starWrap{
	position: relative;
	width: 750px;
    height: 400px;
    margin-left:550px;
    top:150px;
}

#night1 .starWrap .star1{
	width:53px;
	height:50px;
	background-image: url(../img/oneday/night1/star1.png);
	position: absolute;
	margin-top:350px;	
}

#night1 .starWrap .star2{
	width:53px;
	height:50px;
	background-image: url(../img/oneday/night1/star1.png);
	position: absolute;
	margin-left:650px;	
}

#night1 .starWrap .star3{
	width:53px;
	height:50px;
	background-image: url(../img/oneday/night1/star1.png);	
	position: absolute;
	margin: 250px 0 0 500px;
}


#night2{
	width:100%;
	height:800px;
	position: relative;
	background-image: url(../img/oneday/night2/night2_bg.png);	
}

#night2 .moon{
	width:135px;
	height:135px;
	background-image: url(../img/oneday/night2/moon.png);
}

#night2 .night2Bubble{
	position: absolute;
	margin: 300px 0 0 80px;
}

#night2 .rightMoonTree{
	width:243px;
	height:588px;
	position: absolute;
	right:0;
	background-image: url(../img/oneday/night2/moontree.png);	
}


#morning{
	width:100%;
	height:800px;
	position: relative;
	background-image: url(../img/oneday/morning/morning_bg.png);		
}

#morning .sun{
	width:131px;
	height:131px;
	background-image: url(../img/oneday/morning/sun.png);	
}

#morning .leftPine{
	width:231px;
	height:329px;
	position: absolute;
	top:260px;
	background-image: url(../img/oneday/morning/leftpine.png);
}

#morning .rightPine{
	width:294px;
	height:609px;
	background-image: url(../img/oneday/morning/rightpine.png);
	position: absolute;
	right:0;
	bottom:0;
}


#kitchen{
	width:100%;
	height:800px;
	background-image: url(../img/kitchen/kitchen_bg.png);
	position: relative;	
}

#kitchen .leftPan{
	width:253px;
	height:384px;
	float:left;
	background-image: url(../img/kitchen/pan.png);		
}

#kitchen .rightPot{
	width:243px;
	height:132px;
	background-image: url(../img/kitchen/pot.png);
	float:right;
}

#kitchen .steamWrap{
	width: 483px;
    height: 457px;
	position: relative;
	left:50%;
	margin-left:-275px;
	top:-100px;
	background-color: : blue;
	clear: both;
}

#kitchen .steamWrap .steam{
	width:479px;
	height:457px;
	background-image: url(../img/kitchen/steam.png);	
	position: absolute;
	z-index: 100;
}

#kitchen .steamWrap .bubble1{
	width:52px;
	height:54px;
	background-image: url(../img/kitchen/bubble.png);
	position: absolute;
	margin-top: 230px;
	z-index: 50;
}

#kitchen .kitchenBubble{
	position: absolute;
	right:0;
	top:400px;
}

#color1{
	width:100%;
	height:750px;
	background-image: url(../img/color/color1/color1_bg.png);	
}

#color1 .penguin{
	width:356px;
	height:244px;
	position: relative;
	top:100px;
	left:100px;
	background-image: url(../img/color/color1/penguin.png);	
}

#color1 .color1Bubble{
	margin: 100px 200px 0 0;
	float: right;
}


#color2{
	width:100%;
	height:800px;
	background-image: url(../img/color/color2/color2_bg.png);
	position: relative;
}

#color2 .horse{
	width:188px;
	height:241px;
	background-image: url(../img/color/color2/horse.png);
	float:right;
	margin: 100px 100px 0 0;
}

#color2 .color2wrap{
	position:relative;
	margin:100px 0 0 60px;
	clear: both;
	width:520px;
}

#color2 .color2wrap .color2Bubble {
    margin-bottom: 30px;
}

#color2 .color2wrap .btn-wrap{
	margin-bottom: 20px;
}

#color2 .color2wrap .btn-wrap .red,
#color2 .color2wrap .btn-wrap .yellow,
#color2 .color2wrap .btn-wrap .blue {
    width: 59px;
    height: 82px;
}

#color2 .color2wrap .btn-wrap .red{
	background-image: url(../img/color/color2/btn/btn_red.png);	
}

#color2 .color2wrap .btn-wrap .yellow{
	background-image: url(../img/color/color2/btn/btn_yellow.png);	
	margin-left:20px;
}

#color2 .color2wrap .btn-wrap .blue{
	background-image: url(../img/color/color2/btn/btn_blue.png);
	margin-left:20px;	
}

#color2 .color2wrap p.color2Comment{
	color: #8E7577;
	font-family: "Nanum Gothic", sans-serif;
    font-size: 18px;
    line-height: 27px;
}


#color3{
	width:100%;
	height:800px;
	background-image: url(../img/color/color3/color3_bg.png);
	position: relative;
}

#color3 .flag{
	width:1774px;
	height:178px;
	background-image: url(../img/color/color3/flag.png);
	position: relative;
	top:50px;
	left: 50%;
    margin-left: -887px;
}

#color3 .book{
	width:417px;
	height:178px;
	background-image: url(../img/color/color3/book.png);
	float:right;
}

#color3 .logo{
	position: absolute;
	left:50%;
	margin-left:-380px;
}

#color3 .dice{
	width:239px;
	height:200px;
	background-image: url(../img/color/color3/dice.png);
	left:0;
	bottom:0;
	position: absolute;
}

